#Go
go get -u github.com/gorilla/mux
go get github.com/mattn/go-sqlite3
go get -u gorm.io/gorm
go get github.com/speps/go-hashids

#Criação da tabela no banco:
sqlite> CREATE TABLE urls(alias TEXT PRIMARY KEY, longUrl TEXT NOT NULL, shortUrl TEXT NOT NULL, visits INTEGER DEFAULT 0)


#Test
#Com alias
curl -L -X POST 'localhost:8080' -H 'Content-Type: application/json' --data-raw '{
"alias": "bemobi",
"longUrl": "https://www.bemobi.com.br/careers.html"
}'

#Sem alias
curl -L -X POST 'localhost:8080' -H 'Content-Type: application/json' --data-raw '{
"longUrl": "https://www.google.com/maps/place/Bemobi/@-22.9461593,-43.1852983,17z/data=!3m1!4b1!4m5!3m4!1s0x997ff0ef611383:0x4b66002fd48e7656!8m2!3d-22.9461643!4d-43.1831043"
}'
